<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

		<script>
			var socket = io();
			socket.on('new message', (html) => {
				var messageHolder = $("#message-holder");
				messageHolder.append(html);

				// While there are more messages than the limit... remove them
				if (messageHolder.children().length >= 20)
					messageHolder.find("div").slice(0, messageHolder.children().length - 20).remove();

				// Make sure we are scrolled so we can see the newest messages!
				messageHolder.animate({ scrollTop: messageHolder[0].scrollHeight }, "slow");
			});
		</script>

		<link rel="stylesheet" type="text/css" href="base.css">
		<link rel="stylesheet" type="text/css" href="horizontal.css">
		<link rel="stylesheet" type="text/css" href="https://chat.restream.io/static/css/920.8cd1b082.chunk.css">

		<!-- Customize styling here! -->
		<style>
			.message-item {
				background-color: rgba(0.1, .1, 0.1, .5) !important;
				border-radius: 5px;
			}

			.message-time {
				display: none;
			}

			.message-text {
				display: inline;
			}

			.message-plugin-image {
				height: 10px;
				width: auto;
			}
		</style>
	</head>

	<body>
		<noscript>You need to enable JavaScript to run this app.</noscript>
		<div id="root">
			<div class="jss1">
				<div class="jss5">
					<div class=" " style="height: 100%; overflow: hidden; position: relative;">
						<div id="message-holder" class="restream-embed-themes-chat-container restream-embed-themes-chat-container_default-compact" style="--scale:1; --backgroundOpacity:0; --messageBackgroundOpacity:1; --hideMessagesAfter:0s;"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
